<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
   <beans>
   <bean id="tigerCat" class="Animal" autowire="byName">
   </bean>
   <bean id="animaltypeA" class="AniamlType">
   <property name="animal1" value="$(animaltypeA.animal1)"/>
   <property name="animal2" value="$(animaltypeA.animal2)"/>
   </bean>
    <bean id="animaltypeB" class="AniamlType">
   <property name="animal1" value="Dog"/>
   <property name="animal2" value="Horse"/>
   </bean>
   <bean class="displayBenFactorypostProcessor"/>
   <bean class="org.springframework.beans.factory.config.PropertyPlceholderConfigurer">
   <property name="locations" class="myproperty.properties"/>
   </bean>
   </beans>
