<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	 <bean id="parTriangle" class="Triangle">
	 <property name="pointA" ref="pointA"/>
	 
     </bean>
	 <bean id="Triangle1" class="Triangle" parent="parTriangle">
	 <property name="pointB"  ref="pointB"/>
	 <property name="pointC"  ref="pointC"/>
	 
	 </bean>
	 
	 <bean id="Triangle2" class="Triangle" parent="Triangle1" >
	 <property name="pointB"  ref="pointB"/>
	 </bean>
	 
	 <bean id="pointA" class="Points">
	 <property name="x" value="3"/>
	 <property name="y" value="4"/>
	 
	 </bean>
	 <bean id="pointB" class="Points">
	 <property name="x" value="7"/>
	 <property name="y" value="4"/>
	 
	 </bean>
	 <bean id="pointC" class="Points">
	 <property name="x" value="0"/>
	 <property name="y" value="9"/>
	 
	 </bean>
</beans>